.header {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.blockLink {
    width: 100%;
    min-height: 54px;
    background-color: #EF3D89;

}

.banner {
    width: 100%;
    min-height: 700px;
    background-image: url('../../common/img/baner.png');
    background-position: center center;
    background-size: cover;
}

.link {
    height: 54px;
    width: 136px;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.burger {
    width: 20px;
    height: 20px;
    margin: 10px;
}
.blockSearch {
    position: relative;
    bottom: -5px;
    display: flex;
    flex-wrap: wrap;
}

.search {
    height: 40px;
    width: 317px;
    left: 860px;
    background: #F3F3F3;
    display: flex;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    padding-left: 20px;
}

.searchIcon {
    left: 280px;
    top: 9px;
    position: absolute;
}
@media screen and (max-width: 1279px) {
    .blockSearch {
        margin:  auto;
    }
}
@media screen and (max-width: 970px) {
    .photo {
        margin:  auto;
    }
}
@media screen and (max-width: 970px) {
    p {
      display: none;
    }
}
