.container {
    border: 1px solid black;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.basketProductContainer{
    border: 1px solid black;
    height: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1639px) {
    .container {
        max-width: 1280px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1439px) {
    .container {
        max-width: 1024px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1279px) {
    .container {
        max-width: 992px;
        margin: 0 auto;
    }
}

/*.block {*/

/*}*/

/*@mixin name(font-size, line-height){*/
/*    font-size: font-size;*/
/*    line-height: line-height;*/
/*}*/

/*$fonts: 14px;*/

/*.block {*/
/*   font-size: $fonts;*/
/*    @media (max-width: 1200px) {*/
/*        lskdjf*/
/*    }*/

/*@include name($fonts, 16px)*/
/*}*/
/*.left{}*/

/*@mixin media(min-max, br){*/
/*    @media (#{min-max}-width: br){*/
/*        @content*/
/*    }*/
/*}*/

/*.block {*/
/*    @include media(max, 1439px) {*/
/*        font-size: 24px;*/
/*    }*/
/*}*/