.nav {
    padding: 10px;
}

.link {
    padding: 10px;
    text-decoration: none;
}

.btm_m {
    height: 54px;
}

.contact {
    width: 100px;
    height: 100px;
    transform: translateX(-400%);

}

.active {
    transform: translateX(0);
    background-color: white;
    height: 275px;
    min-width: 100%;
    transition: all 0.2s;
}

.NavSmallMenu {
    display: flex;
    min-height: 275px;
    min-width: 100%;
    flex-wrap: wrap;
    align-content: center;
    transition: all 0.4s;
}

.smallMenu {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.NavMenuBig {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    align-items: center;
    justify-content: center;
}

.bigLink {
    display: flex;
    flex-direction: column;
}

.linkBig {
    text-decoration: none;
    position: relative;
    padding: 10px;
    bottom: 15px;
}

@media screen and (max-width: 930px) {
    .active {
        display: none;
    }
}
